body{
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: sans-serif;
    box-sizing: border-box;
}

/*--------------- Navbar -----------------*/
.navbar{
    background-color: #29857d !important;
}
.navbar-brand{
    font-size: 40px;
}
.nav-link{
    color: #fff !important;
}

/*--------------- Main Section ---------------*/
.main{
    background-color: #29857d !important;
    opacity: 0.6;
    height: 100vh;
    clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 100% 75%, 0% 100%);
}
