<app-header></app-header>

<section class="cms_content ng-star-inserted">
    <div class="container">
        <h2 class="my-5">Fee Schedule</h2>
        <h4>Trading Fee</h4>
        <p></p>

        <div class="trading_data table-responsive">
            <table class="table table-sm table-bordered">
                <thead>
                    <tr>
                        <th class="width73" rowspan="2">Tier</th>
                        <th class="width363" colspan="3">Spot Trading</th>
                        <th class="width119" rowspan="2">24hr Withdrawal Limit (BTC)</th>
                    </tr>
                    <tr>
                        <th>30day Trading Volume (BTC)</th>
                        <th>Maker Fee</th>
                        <th>Taker Fee</th>
                    </tr>
                </thead>

                <tbody class="text-center">
                    <tr class="ng-star-inserted">
                      <td>LV1</td>
                      <td>≥6</td>
                      <td>0.10%</td>
                      <td>0.15%</td>
                      <td>8.00000000</td>
                    </tr>
                    <tr class="ng-star-inserted">
                      <td>LV2</td>
                      <td>≥9</td>
                      <td>6.00%</td>
                      <td>8.00%</td>
                      <td>4.00000000</td>
                    </tr>
                    <tr class="ng-star-inserted">
                      <td>LV3</td>
                      <td>≥500</td>
                      <td>0.08%</td>
                      <td>0.01%</td>
                      <td>6.00000000</td>
                    </tr>
                    <tr class="ng-star-inserted">
                      <td>LV4</td>
                      <td>≥100</td>
                      <td>0.09%</td>
                      <td>0.01%</td>
                      <td>560.00000000</td>
                    </tr>
                    <tr class="ng-star-inserted">
                      <td>LV5</td>
                      <td>≥500</td>
                      <td>0.09%</td>
                      <td>0.01%</td>
                      <td>88.00000000</td>
                    </tr>
                    <tr class="ng-star-inserted">
                      <td>LV6</td>
                      <td>≥100</td>
                      <td>0.09%</td>
                      <td>0.01%</td>
                      <td>500.00000000</td>
                    </tr>
                    <tr class="ng-star-inserted">
                      <td>LV7</td>
                      <td>≥100</td>
                      <td>0.09%</td>
                      <td>0.01%</td>
                      <td>100.00000000</td>
                    </tr>
                    <tr class="ng-star-inserted">
                      <td>LV8</td>
                      <td>≥100</td>
                      <td>0.09%</td>
                      <td>0.01%</td>
                      <td>200.00000000</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <h4>Spot Trading</h4>
        <p></p>
        <h4>Create order</h4>
        <p></p>
        <h4>Delivery</h4>
        <p></p>
        <h4>24hr withdrawal limit</h4>
        <p></p>
        <h4>A guide to market making with master and sub accounts</h4>
        <p></p>
        <h3>Deposit  &amp; Withdrawal Fees</h3>
      
        <ul>
            <li>Deposit: Fee</li>
            <li>Withdrawal: <span>Withdrawal fees are regularly adjusted according to blockchain conditions. Please read more below. </span></li>
        </ul>

        <h4>Withdrawal Fees</h4>
        <div class="fee_tab table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" width="43">Coin / Token</th>
                        <th scope="col" width="54">Coin Name</th>
                        <th scope="col" width="160">Minimum withdrawal</th>
                        <th scope="col" width="124">Withdrawal Fee</th>
                    </tr>
                </thead>

                <tbody><!---->
                    <tr class="ng-star-inserted">
                        <td><img style="height:20px;width:20px;" src="https://res.cloudinary.com/dspxiii6l/image/upload/v1547020727/dqhnz3egezxkjd1gevlk.png"> BTC</td>
                        <td>BTC</td>
                        <td>2.00000000</td>
                        <td>1.00000000 BTC</td>
                    </tr>
                    <tr class="ng-star-inserted">
                        <td><img style="height:20px;width:20px;" src="https://res.cloudinary.com/dspxiii6l/image/upload/v1538053770/kwzlfdkw3ldjmlyeekdq.png"> ETH</td>
                        <td>Ethereum</td>
                        <td>0.00000000</td>
                        <td>0.00000000 ETH</td>
                    </tr>
                    <tr class="ng-star-inserted">
                        <td><img style="height:20px;width:20px;" src="https://res.cloudinary.com/dspxiii6l/image/upload/v1538044530/mix4vtjjnekjmtrgrfjv.gif"> LTC</td>
                        <td>Litecoin</td>
                        <td>0.20000000</td>
                        <td>0.00000000 LTC</td>
                    </tr>
                    <tr class="ng-star-inserted">
                        <td><img style="height:20px;width:20px;" src="https://res.cloudinary.com/dspxiii6l/image/upload/v1538044716/ba7ma6zedrpylkazc33x.png"> XRP</td>
                        <td>XRP</td>
                        <td>1.00000000</td>
                        <td>1.00000000 XRP</td>
                    </tr>
                    <tr class="ng-star-inserted">
                        <td><img style="height:20px;width:20px;" src="https://res.cloudinary.com/dspxiii6l/image/upload/v1547184310/haiwezixg9nidgepsoyv.jpg"> TRX</td>
                        <td>TRX</td>
                        <td>1.00000000</td>
                        <td>0.00000000 TRX</td>
                    </tr>
                    <tr class="ng-star-inserted">
                        <td><img style="height:20px;width:20px;" src="https://res.cloudinary.com/dspxiii6l/image/upload/v1538044476/zq3bs4akuq1aqm7wt6eg.jpg"> USDT</td>
                        <td>USDT</td>
                        <td>0.00010000</td>
                        <td>0.00000000 USDT</td>
                    </tr>
                    <tr class="ng-star-inserted">
                        <td><img style="height:20px;width:20px;" src="https://res.cloudinary.com/dspxiii6l/image/upload/v1538044476/zq3bs4akuq1aqm7wt6eg.jpg"> BCH SV</td>
                        <td>Bitcoin SV</td>
                        <td>0.00010000</td>
                        <td>0.00000000 BCH SV</td>
                    </tr>
                    <tr  class="ng-star-inserted">
                        <td><img style="height:20px;width:20px;" src="https://res.cloudinary.com/dspxiii6l/image/upload/v1538044476/zq3bs4akuq1aqm7wt6eg.jpg"> DOGE</td>
                        <td>DOGE</td>
                        <td>0.00010000</td>
                        <td>0.00000000 DOGE</td>
                    </tr>
                    <tr class="ng-star-inserted">
                        <td><img style="height:20px;width:20px;" src="https://res.cloudinary.com/dspxiii6l/image/upload/v1538044476/zq3bs4akuq1aqm7wt6eg.jpg"> XMR</td>
                        <td>XMR</td>
                        <td>0.00010000</td>
                        <td>0.00000000 XMR</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section> 

<app-footer></app-footer>