<app-header></app-header>

<section>
    <div class="container">
        <h3 class="text-center font-weight-bold my-4">ICO Request</h3>
        <form>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 font-weight-bold">
                    <div class="form-group">
                        <label>Name:</label>
                        <input type="text" class="form-control rounded-0" name="uname">
                    </div>

                    <div class="form-group">
                        <label>Coin Name / Token Name:</label>
                        <input type="text" class="form-control rounded-0" name="coin_name">
                    </div>

                    <div class="form-group">
                        <label>Total Coins:</label>
                        <input type="text" class="form-control rounded-0" name="total_coins">
                    </div>

                    <div class="form-group">
                        <label>Premine(%):</label>
                        <input type="text" class="form-control rounded-0" name="premine">
                    </div>

                    <div class="form-group">
                        <label>ICO Suppyl:</label>
                        <input type="text" class="form-control rounded-0" name="ico_supply">
                    </div>

                    <div class="form-group">
                        <label>Website:</label>
                        <input type="text" class="form-control rounded-0" name="website">
                    </div>

                    <div class="form-group">
                        <label>Ico End Date:</label>
                        <input type="text" class="form-control rounded-0" name="ico_end_date">
                    </div>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 font-weight-bold">
                    <div class="form-group">
                            <label>Email:</label>
                            <input type="text" class="form-control rounded-0" name="email">
                    </div>

                    <div class="form-group">
                            <label>Coin Ticker / Token Ticker:</label>
                            <input type="text" class="form-control rounded-0" name="coin_ticker">
                    </div>

                    <div class="form-group">
                            <label>Source Link (GitHub) :</label>
                            <input type="text" class="form-control rounded-0" name="source_link">
                    </div> 

                    <div class="form-group">
                          <label>Nodes :</label>
                          <input type="text" class="form-control rounded-0" name="nodes">
                    </div> 

                    <div class="form-group">
                          <label>ICO Price (USD):</label>
                          <input type="text" class="form-control rounded-0" name="ico_price">
                    </div>

                    <div class="form-group">
                          <label>ICO Start (date):</label>
                          <input type="text" class="form-control rounded-0" name="ico_start">
                    </div>

                    <div class="form-group">
                          <label>Bitcointalk topic(ANN Thread):</label>
                          <input type="text" class="form-control rounded-0" name="bitcointalk">
                    </div>
                </div>
                <button class="btn btn-success rounded-0 m-3">Submit</button>
            </div>
        </form>
    </div>
</section>

<app-footer></app-footer>