<app-header></app-header>

<section class="cms_content ng-star-inserted">
    <div class="container my-5">
      
            <h3>Bitrockz Token Listing</h3>

            <p>Dear Project Teams,</p>
            
            <p>In order to provide more high-quality investment options while protecting the interests of our customers, we have decided to roll out a new listing regime which includes 3 components: Voting, Collaboration, and Community Building.</p>
            
            <h3>Voting</h3>
        
            <p>Our token listing process begins with a thorough and rigorous review process conducted by our listing committee, which includes a holistic overview of the project as well as closer look at the properties and utility of the project token. We then include our <a href="#">Prime Investors</a> in the process, who help to review and endorse the projects they favor.</p>
            
            <p>Lastly, the public will decide which project should be listed on Bitrockz, by casting their votes using our global utility token called <a href="#">BRZ</a>. This means that BRZ holders now have the ability to significantly influence the token listing process.</p>
            
            <p>The application for the 1st round of Bitrockz Token Listing Vote is now open:</p>
            
            <p>For details, please refer to the <a href="#">Bitrockz Token Listing Vote Rules</a><br>
            Project teams are encouraged to apply via the following link <a href="#">Bitrockz Token Listing Vote Application</a></p>
            
            <h3>Community Building</h3>
            
            <p>To further engage our community, Bitrockz will partner with project teams which are able to bring more active users, and will provide a priority listing review for them.</p>
            
            <p>These projects must meet the following criteria to be listed using this method:</p>
            
            <p>The project must be able to bring 50,000 new registered users to Bitrockz and 20,000 of the users must be active users. Active users are the users with at least 1 ETH equivalent in their account balances and trades on a regular basis;<br>
            All users brought by the project must be real users who have a normal trading frequency, distribution, and amount;<br>
            Bitrockz reserves the right to de-list/disqualify any projects that are deemed fraudulent or found to be deceiving the platform.</p>
            
            <div>
                <p>It is also essential for all project teams to meet the requirements of security deposit, marketing expenses, and trading liquidity in order to be eligible for listing, regardless of the listing method.</p>
            </div>
            
            <p>If you wish to list your token on Bitrockz, kindly fill in the request form below:</p>
            
            <p><a href="#">Token listing application </a></p>
            
            <p>If your project is at pre-ICO stage, kindly fill in the request form below:</p>
            
            <p><a href="#">Token Listing application (Pre-ICO)</a></p>
            
            <p>We will review your request in the next 5 - 10 business days and reach out to you if your application has been shortlisted to proceed further.</p>
            
            <p>WARNING:</p>
            
            <p>The only official link to apply for listing on Bitrockz is on this domain. Please double check to make sure it is hosted on  Support@bitrockz.com</p>
        
            <p>DO NOT send any form of payment (crypto or fiat) to any parties claiming to assist with the listing process and beware of spoofed emails.</p>
            
            <p>When in doubt, kindly email us at <a href="mailto:tokens@bitrockz.com">tokens@bitrockz.co</a>m to verify if any correspondence was legitimate.</p>
            
            <p>Bitrockz Listing Team</p>
    </div>
</section>


<app-footer></app-footer>