
<app-header></app-header>

<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <img class="rounded-border shadow-primary img-fluid" src="https://res.cloudinary.com/dspxiii6l/image/upload/v1549275417/prlwknnrmznrb0rmn26k.jpg">
            </div>
            
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="section-heading">
                    <h3>Information to help you navigate the world of Bitcoin. </h3>
                    <div class="yellow-line my-3"></div>
                </div>

                <div class="text-muted font-weight-bold">
                    <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
                      aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
                      voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </small>
                </div>

                <div>
                    <a class="btn btn-success my-4" href="#">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="jumbotron rounded-0">
        <div class="container">
            <div class="heading text-center my-3">
                <span>Features</span>
                <h2>Company Features</h2>
                
                <p>Lorem ipsum dolor sit amet, te ridens gloriatur temporibus qui, 
                  per enim veritus probatus ad. Quo eu etiam. 
                </p>
            </div>

            <div class="my-5">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="">
                            <div class="row">
                                <div class="col-xs-12 col-md-3 col-sm-3">
                                    <div class="">
                                      <img class="img-fluid mb-3" src="https://res.cloudinary.com/dspxiii6l/image/upload/v1548250389/lyrccutjokoeo0eouxa4.png">
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-9 col-sm-9">
                                    <div class="heading">
                                        <h4>Instant Exchange </h4>
                                        <div class="yellow-line my-3"></div>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                          Lorem Ipsum has been the industry's standard 
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="">
                            <div class="row">
                                <div class="col-xs-12 col-md-3 col-sm-3">
                                    <div class="">
                                        <img class="img-fluid mb-3" src="https://res.cloudinary.com/dspxiii6l/image/upload/v1548250389/ffc6clwv6n5ibqcg7xiw.png">
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-9 col-sm-9">
                                    <div class="heading">
                                        <h4>Instant Exchange </h4>
                                        <div class="yellow-line"></div>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                          Lorem Ipsum has been the industry's standard 
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="">
                            <div class="row">
                                <div class="col-xs-12 col-md-3 col-sm-3">
                                    <div class="">
                                        <img class="img-fluid mb-3" src="https://res.cloudinary.com/dspxiii6l/image/upload/v1548250389/cthtcspo4axydvaxz1zx.png">
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-9 col-sm-9">
                                    <div class="heading">
                                        <h4>Investment Consulting </h4>
                                        <div class="yellow-line"></div>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                          Lorem Ipsum has been the industry's standard  
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="">
                            <div class="row">
                                <div class="col-xs-12 col-md-3 col-sm-3">
                                    <div class="">
                                        <img class="img-fluid mb-3" src="https://res.cloudinary.com/dspxiii6l/image/upload/v1548250391/vp4xrprkjrgl2aq1wtou.jpg">
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-9 col-sm-9">
                                    <div class="heading">
                                        <h4>Bitcoin Analysis </h4>
                                        <div class="yellow-line"></div>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                          Lorem Ipsum has been the industry's standard 
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>