<app-header></app-header>

<section class="cms_content ng-star-inserted">
    <div class="container my-5">
            
        <h2>Risk &amp; Compliance Disclosure</h2>

        <p>This Risk and Compliance Disclosure should be read in conjunction with the Terms of Service (Terms) of BITROCKZ LTD(“BITROCKZ”). In plain English, we want you to understand the important risks and compliance matters while you trade on our platform.vision of related services.</p>
            
        <h3>PURPOSE OF OUR PROGRAM</h3>
            
        <p>We have established and implemented an Anti-Money Laundering, Anti-Terrorist Financing, and Trade &amp; to ensure a robust and compliant digital asset trading platform. We want to promote legal, transparent business activities and maintain a strong reputation among our customers, regulators, and the digital asset industry.</p>
            
        <h3>OUR ROLE AND ACTIVITIES</h3>
          
        <p>We are a global digital asset trading platform or marketplace, where traders come as buyers and sellers (commonly referred as market-makers and market-takers). For clarity, buyers and sellers trade with each other and not with BITROCKZ. We are not a counterparty to any trade. Our Services are available through BITROCKZ.com, associated application program interfaces and/or mobile applications and through customer onboarding entities, including BITROCKZ LTD (incorporated in Malta).</p>
            
        <p>Disclosure: Trading is risky. The risk of loss in trading or holding digital assets can be substantial. You should therefore carefully consider whether trading is suitable for you in light of your financial condition.</p>
            
        <h3>REGULATORY LANDSCAPE</h3>
            
        <p>We understand that regulatory bodies have taken a diverse approach to the laws and regulations regarding digital assets, including some characterizing or defining digital assets as virtual financial asset convertible virtual currency (by USA FinCEN). As a trading platform, we believe that all digital assets available on BITROCKZ.com are an innovative alternative asset class; and therefore, digital assets should not be called currency or money</p>
            
        <p>Disclosure: Digital assets are not fiat money nor fiat currency. Digital assets are NOT backed by any government or central bank. We may at times have opinions of the different regulatory approaches taken by various government bodies; however, at all times, we will fully abide by rules and regulations of the respective countries we operate in. We regularly communicate with regulators and industry on the best approach to regulating digital asset businesses. Furthermore, BITROCKZ does not accept certain customers. To maintain our strong reputation in the market and ensure a robust compliant marketplace, we have decided to not seek nor accept customers from certain jurisdictions including Hong Kong, Cuba, Iran, North Korea, Crimea, Sudan, Malaysia，Syria, USA [including all USA territories like Puerto Rico, American Samoa, Guam, Northern Mariana Island, and the US Virgin Islands (St. Croix, St. John and St. Thomas)], Bangladesh, Bolivia, Ecuador, and Kyrgyzstan.</p>
            
        <p>We cooperate with governments and respect regulations and comply with applicable regulations. As good corporate citizens, we may be asked for information from law enforcement authorities and will assist if permissible by law as law enforcement conduct investigations to pursue and thwart illicit activity. What this also means is that our platform is intended for law abiding customers. We welcome the opportunity to earn your business, and in return we require that you act legally and properly on our platform.</p>
            
        <p>We have designed our Program to reasonably prevent money laundering and terrorist financing through a risk-based, multi-layer control system.</p>
            
        <p>The first layer includes a stringent customer identification program, including verifying the identity of our customers, whether individuals or entities. In addition to obtaining identification documents, we obtain for non-natural persons their entities’ beneficial owners/natural persons consistent to international standards such as the Financial Action Task Force (FATF).</p>
            
        <p>The second layer includes a risk-based system to warrant additional customer due diligence. To accomplish this, we screen our customers (including beneficial owners) against the entities/persons on The Government of the Hong Kong SAR Gazette, United States Office of Foreign Assets Control (OFAC) Sanctions Lists, and the United Nation Security Council Sanctions List, among other government-provided lists of sanctioned individuals and entities. We also may screen against other lists on a discretionary basis to protect our reputation and customers.</p>
            
        <p>The third layer includes ongoing monitoring for suspicious activity. If our Program suspects or has reason to suspect suspicious activities have occurred, we will file suspicious activities reports with local regulators. A suspicious transaction is often inconsistent with a customer’s known and legitimate business, or personal activities.</p>
            
        <p>These are the primary components of our compliance program; however, the most important glue or connection to these layers are our leadership team and staff, including AML/Risk personnel that execute training, oversight and a sound compliance culture.</p>
            
        <h3>RISKS</h3>
            
        <p>Trading in digital assets is considered high risk. Digital assets are NOT backed by any government or central bank. The risk of loss in trading or holding digital assets can be substantial. You should carefully consider whether interacting, holding, or trading digital assets is suitable for you in light of your financial condition.</p>
            
        <h3>COMMUNICATION</h3>
            
        <p>If you have questions or require assistance with our customer due diligence controls, please reach out to our 24/7 customer service representatives by phone, chat or email at <a href="#!"> support@bitrockz.com.</a></p>
            
        <p>For any law enforcement requests, please email us at <a href="#!">support@bitrockz.com</a> and see our law enforcement guidance.</p>
            
        <h3>DIFFERENT VERSIONS</h3>
            
        <p>This "Risk &amp; Compliance Disclosure" may be posted in different languages. If there are any discrepancies, the English version shall prevail.</p>
    
      </div>
</section>

<app-footer></app-footer>