<app-header></app-header>

<section>
    <div id="join">
        <div class="container text-white py-4">
            <h3>Do What You Love at Bitrockz</h3>
            <p class="pt-3">People sometimes ask what's the secret to Bitrockz's success. The answer is obvious: People! Bitrockz owes its success to one of the most talented, hardworking and passionate teams the world has to offer. <br> </p>
        </div>
    </div>
      
    <div class="container"> 
        <div class="my-3">
            <small class="text-muted text-justify">At Bitrockz, we don't work - we live it! No one ever asks you to work overtime or checks if you show up late in the morning. 
                Those concepts don't apply at Bitrockz. We do whatever it takes to get whatever needs getting done. It ends up being a lot of overtime. 
                We are always working. There is no off switch. If you have your sleeves rolled up and ready to sweat it for the long-haul, and be part of a team 
                that will help to define finance for the world tomorrow, then read on. If not, you can save your lazy bum some reading.
            </small><br><br>
            <small class="text-muted">You should do what you do best. Bitrockz believes in leveraging people to their strength. We can't guarantee we always have an 
                opening for your particular skill set, but if you are good, we usually try hard to make you a seat in our rocket ship. Take a look at our available 
                positions blew.
            </small>
        </div>

        <div class="container my-5">
            <h3 class="text-center font-weight-bold my-5">Current Openings</h3>
            
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 my-3">
                    <div class="card rounded-0 text-center text-muted py-4">
                        <i class="fa fa-handshake-o my-3" aria-hidden="true"></i>
                        <p>Business Development</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3 my-3">
                    <div class="card rounded-0 text-center text-muted py-4">
                        <i class="fa fa-connectdevelop my-3" aria-hidden="true"></i>
                        <p>Communications</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3 my-3">
                    <div class="card rounded-0 text-center text-muted py-4">
                        <i class="fa fa-user-o my-3" aria-hidden="true"></i>
                        <p>Support</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3 my-3">
                    <div class="card rounded-0 text-center text-muted py-4">
                        <i class="fa fa-pie-chart my-3" aria-hidden="true"></i>
                        <p>Analysis</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3 my-3">
                    <div class="card rounded-0 text-center text-muted py-4">
                        <i class="fa fa-video-camera my-3" aria-hidden="true"></i>
                        <p>Editorial&Video</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3 my-3">
                    <div class="card rounded-0 text-center text-muted py-4">
                        <i class="fa fa-building-o my-3" aria-hidden="true"></i>
                        <p>Engineering</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3 my-3">
                    <div class="card rounded-0 text-center text-muted py-4">
                        <i class="fa fa-university my-3" aria-hidden="true"></i>
                        <p>Finance & Administration</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3 my-3">
                    <div class="card rounded-0 text-center text-muted py-4">
                        <i class="fa fa-gavel my-3" aria-hidden="true"></i>
                        <p>Legal and Compliance</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3 my-3">
                    <div class="card rounded-0 text-center text-muted py-4">
                        <i class="fa fa-user-circle-o my-3" aria-hidden="true"></i>
                        <p>Local Marketing</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 my-3">
                    <div class="card rounded-0 text-center text-muted py-4">
                        <i class="fa fa-users my-3" aria-hidden="true"></i>
                        <p>Marketing</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3 my-3">
                    <div class="card rounded-0 text-center text-muted py-4">
                        <i class="fa fa-cogs my-3" aria-hidden="true"></i>
                        <p>Operations</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3 my-3">
                    <div class="card rounded-0 text-center text-muted py-4">
                        <i class="fa fa-pencil-square-o my-3" aria-hidden="true"></i>
                        <p>Product & Design</p>
                    </div>
                </div>
                
                <div class="col-xs-12 col-sm-6 col-md-3 my-3">
                    <div class="card rounded-0 text-center text-muted py-4">
                        <i class="fa fa-television my-3" aria-hidden="true"></i>
                        <p>Quantitative Strategy</p>            
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3 my-3">
                    <div class="card rounded-0 text-center text-muted py-4">
                        <i class="fa fa-shield my-3" aria-hidden="true"></i>
                        <p>Security</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3 my-3">
                    <div class="card rounded-0 text-center text-muted py-4">
                        <i class="fa fa-keyboard-o my-3" aria-hidden="true"></i>
                        <p>Talent Acquisition</p>
                    </div>
                </div>
                
                <div class="col-xs-12 col-sm-6 col-md-3 my-3">
                    <div class="card rounded-0 text-center text-muted py-4">
                        <i class="fa fa-files-o my-3" aria-hidden="true"></i>
                        <p>HR</p>
                    </div>
                </div>
            </div>
        </div>      

        <div class="container">               
            <h3>Email us</h3>
            <div class="">
                <p class="text-muted">If you can't find a position that matches your background, feel free to email us your CV and cover letter to <strong class="text-warning">hr@Bitrockz.com</strong>. </p>
                <p class="text-muted">Applications that are submitted to a position above will take priority over email applications.</p> 
            </div>
        </div>
    </div>      
</section>

<app-footer></app-footer>

