<app-header></app-header>

<section>
    <div class="container">
        <h3 class="text-center font-weight-bold my-4">Add Coin Request</h3>
        <form>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 font-weight-bold">
                    <div class="form-group">
                        <label>Name:</label>
                        <input type="text" class="form-control rounded-0" name="uname">
                    </div>

                    <div class="form-group">
                        <label>Short:</label>
                        <input type="text" class="form-control rounded-0" name="short">
                    </div>

                    <div class="form-group">
                        <label>Coin Supply:</label>
                        <input type="text" class="form-control rounded-0" name="coin_supply">
                    </div>

                    <div class="form-group">
                        <label>Premine:</label>
                        <input type="text" class="form-control rounded-0" name="premine">
                    </div>

                    <div class="form-group">
                        <label>RPC port (default):</label>
                        <input type="text" class="form-control rounded-0" name="rpc_port">
                    </div>

                    <div class="form-group">
                        <label>ANN Thread:</label>
                        <input type="text" class="form-control rounded-0" name="naa-thread">
                    </div>

                    <div class="form-group">
                        <label>Source code GitHub:</label>
                        <input type="text" class="form-control rounded-0" name="source_code_github">
                    </div>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 font-weight-bold">
                    <div class="form-group">
                            <label>Email:</label>
                            <input type="text" class="form-control rounded-0" name="email">
                    </div>

                    <div class="form-group">
                            <label>Algorithm:</label>
                            <input type="text" class="form-control rounded-0" name="algorithm">
                    </div>

                    <div class="form-group">
                            <label>Coin Cap:</label>
                            <input type="text" class="form-control rounded-0" name="coin_cap">
                    </div> 

                    <div class="form-group">
                        <label>Current Height:</label>
                        <input type="text" class="form-control rounded-0" name="current_height">
                    </div> 

                    <div class="form-group">
                        <label>P2P port (default):</label>
                        <input type="text" class="form-control rounded-0" name="p2p_port">
                    </div>

                    <div class="form-group">
                        <label>Website:</label>
                        <input type="text" class="form-control rounded-0" name="website">
                    </div>

                    <div class="form-group">
                        <label>Link to Wallet:</label>
                        <input type="text" class="form-control rounded-0" name="link_to_wallet">
                    </div>
                </div>
                <button class="btn btn-success rounded-0 m-3">Add Coin</button>
            </div>
        </form>
    </div>
</section>

<app-footer></app-footer>