<app-header></app-header>

<section class="cms_content ng-star-inserted">
    <div class="container my-5">
        
      <h3>Privacy Policy</h3>

      <p>Bitrockz (Bitrockz TECHNOLOGY LIMITED) is a company incorporated in Hong Kong special administrative region of the PRC under the laws of Hong Kong special administrative region of the PRC, and operates the website <a href="#!"> www.bitrockz.com&nbsp;</a>and related mobile applications, an overall platform (hereinafter referred to as the 'Platform') dedicated to digital assets-only transaction and the provision of related services.</p>
      
      <p>Bitrockz will protect all personal information you submit to us when using our products and services. We may use or disclose your personal information in compliance with this Privacy Policy to provide better services to you. By using our products and services, you consent to the practices contained in this Privacy Policy. We may amend this Privacy Policy from time to time. We strongly encourage you to review the Privacy Policy whenever you access or use Bitrockz services to stay informed about our information practices and your privacy rights and choices. If you ever have any questions about changes made to the Privacy Policy, just reach out to <a href="#!">support@bitrockz.com.</a></p>
      
      <h3>1.Scope of Application</h3>
      
      <p>A) Your personal information when you open an account on our Platform;</p>
      
      <p>B) Your browsing history or information about your device, including and not limited to the type of device (Computer vs. iPhone vs. Android), operating system, mobile phone number, browser type and language, and device identifiers (such as IMEI and MAC address);</p>
      
      <p>C) Your personal information we get from business partners.</p>
      
      <p>You understand and agree that the following information is not applicable with this Privacy Policy：</p>
      
      <p>A) Your search keywords when using our Platform;</p>
      
      <p>B) Public information you create on our Platform, including but not limited to forum posts;</p>
      
      <p>C) Your violation of laws, regulations or our Platform rules and publishing measures you are subject to.</p>
      
      <h3>2.Use of Information</h3>
      
      <p>A) We may use your personal information to provide you with information about products and promotions that may be of interest to you, from ourselves and third parties, although only if you have specifically agreed to receive such information;</p>
      
      <p>B) We will gather and take good care of your personal information. If we need to share with third-party business partners to provide better service experience for you, we will require partners to protect your information as stated in this Privacy Policy.</p>
      
      <h3>3.Disclosure of Information</h3>
      
      <p>We may disclose any information we collect about you:</p>
      
      <p>A) to non-affiliated third parties at your consent;</p>
      
      <p>B）to third party service/product providers so that you can use their service/product;</p>
      
      <p>C) when disclosure is necessary to report suspected illegal activity;</p>
      
      <p>D) when disclosure is necessary to investigate violations of laws, regulations or this Privacy Policy;</p>
      
      <p>E)when compelled by subpoena, court order, or other legal procedure;</p>
      
      <p>F)to other sites when deemed necessary by law, regulations or Privacy Policy.</p>
      
      <h3>4. Storage/Transfer of Information</h3>
      
      <p>We store and process your personal and transactional information in multiple locations in the world where our service providers are located, and we protect it by maintaining physical, electronic, and procedural safeguards in compliance with applicable regulations.</p>
      
      <h3>5. Use of Cookies</h3>
      
      <p>A)We use a browser feature known as a "cookie", which assigns a unique identification to your computer. The information collected from cookies allows us to improve the quality of your experience on the Platform by recognizing and delivering more of the most desired features and information, as well as by resolving access difficulties;</p>
      
      <p>B)You are free to decline our cookies if your browser or browser add-on permits, but doing so may interfere with your use of our services.</p>
      
      <p>C)The information we collect from your cookies is applicable with this Privacy Policy.</p>
      
      <h3>6. Protection of Information</h3>
      
      <p>A) We implement reasonable security practices and procedures to help protect the confidentiality and security of your information, including any nonpublic personal information. We protect your information using reasonable physical, technical and administrative security measures, including by limiting access to your information to employees with a need to know such information.</p>
      
      <p>B) You are responsible for reviewing the privacy statements, policies, terms, and conditions of any person or company to whom you choose to link or with whom you choose to contract. If you find your personal information (especially username and passwords on our Platform) disclosed, you should immediately contact our support for protection measures.</p>
      
      <h3>7. Disclaimer of Liability</h3>
      
      <p>Bitrockz assumes no liability or responsibility for:</p>
      
      <p>A) disclosure of your personal information because you share with others your account or passwords on our Platform;</p>
      
      <p>B） any stolen, lost, or unauthorized use of your account information any breach of security or data breach related to your account information, or any criminal or other third party act affecting our Platform;</p>
      
      <p>C) lawsuits or related damages led by disclosure of your personal information on our external websites.</p>
      
      <h3>8. External Websites</h3>
      
      <p>Occasionally, the Bitrockz website may provide references or links to other websites ("External Websites"). We do not control these External Websites third party sites or any of the content contained therein. External Websites have separate and independent terms of use and related policies. We request that you review the policies, rules, terms, and regulations of each site that you visit.</p>
      
      <h3>9. Contact Us</h3>
      
      <p>If you have any questions relating to these Terms of Service, your rights and obligations arising from these Terms and/or your use of the Site and the service, your account, or any other matter, please contact <a href="#!">support@bitrockz.com.</a></p>
      
    </div>
</section>

<app-footer></app-footer>