<app-header></app-header>

<section>
    <div class="container-fluid bg text-center">
        <h1 class="text-white py-5">Apply for FREE Listing</h1>
        <div class="pb-5">
            <button class="btn btn-lg btn-outline-warning text-white my-1">Voting rules</button>&nbsp;&nbsp;&nbsp;
            <button class="btn btn-lg btn-outline-warning text-white my-1">Submit Project information</button>&nbsp;&nbsp;&nbsp;
            <button class="btn btn-lg btn-outline-warning text-white my-1">Exclusive listing</button>
        </div>
    </div>

    <div class="container">
        <ul class="nav nav-tabs my-5">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#voting">Voting</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tobelisted">To be Listed</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#listed">Listed</a>
            </li>
        </ul>
          
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane container active" id="voting">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3 my-3">
                        <div class="card">
                            <table>
                                <tbody class="text-white">
                                    <td><img src="../../assets/img/voting1.png" class="rounded ml-2 mt-2" width="48" height="48" /></td>
                                    <td><a class="">LabelsCoin</a><br><span>LBSC</span></td>
                                    <td><a class="btn btn-default">2</a></td>
                                </tbody>
                            </table>
                            <div class="my-3">
                                <a class="btn btn-primary btn-sm">Vote</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-3 my-3">
                        <div class="card">
                            <table>
                                <tbody class="text-white">
                                    <td><img src="../../assets/img/voting2.jpg" class="rounded ml-2 mt-2" width="48" height="48" /></td>
                                    <td><a class="">Vertex ICO</a><br><span>VTEX</span></td>
                                    <td><a class="btn btn-default">2</a></td>
                                </tbody>
                            </table>
                            <div class="my-3">
                                <a class="btn btn-primary btn-sm">Vote</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-3 my-3">
                        <div class="card">
                            <table>
                                <tbody class="text-white">
                                    <td><img src="../../assets/img/voting1.png" class="rounded ml-2 mt-2" width="48" height="48" /></td>
                                    <td><a class="">LabelsCoin</a><br><span>LBSC</span></td>
                                    <td><a class="btn btn-default">2</a></td>
                                </tbody>
                            </table>
                            <div class="my-3">
                                <a class="btn btn-primary btn-sm">Vote</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-3 my-3">
                        <div class="card">
                            <table>
                                <tbody class="text-white">
                                    <td><img src="../../assets/img/voting2.jpg" class="rounded ml-2 mt-2" width="48" height="48" /></td>
                                    <td><a class="">Vertex ICO</a><br><span>VTEX</span></td>
                                    <td><a class="btn btn-default">2</a></td>
                                </tbody>
                            </table>
                            <div class="my-3">
                                <a class="btn btn-primary btn-sm">Vote</a>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-xs-12 col-sm-6 col-md-3 my-3">
                        <div class="card">
                            <table>
                                <tbody class="text-white">
                                    <td><img src="../../assets/img/voting1.png" class="rounded ml-2 mt-2" width="48" height="48" /></td>
                                    <td><a class="">LabelsCoin</a><br><span>LBSC</span></td>
                                    <td><a class="btn btn-default">2</a></td>
                                </tbody>
                            </table>
                            <div class="my-3">
                                <a class="btn btn-primary btn-sm">Vote</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-3 my-3">
                        <div class="card">
                            <table>
                                <tbody class="text-white">
                                    <td><img src="../../assets/img/voting2.jpg" class="rounded ml-2 mt-2" width="48" height="48" /></td>
                                    <td><a class="">Vertex ICO</a><br><span>VTEX</span></td>
                                    <td><a class="btn btn-default">2</a></td>
                                </tbody>
                            </table>
                            <div class="my-3">
                                <a class="btn btn-primary btn-sm">Vote</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-3 my-3">
                        <div class="card">
                            <table>
                                <tbody class="text-white">
                                    <td><img src="../../assets/img/voting1.png" class="rounded ml-2 mt-2" width="48" height="48" /></td>
                                    <td><a class="">LabelsCoin</a><br><span>LBSC</span></td>
                                    <td><a class="btn btn-default">2</a></td>
                                </tbody>
                            </table>
                            <div class="my-3">
                                <a class="btn btn-primary btn-sm">Vote</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-3 my-3">
                        <div class="card">
                            <table>
                                <tbody class="text-white">
                                    <td><img src="../../assets/img/voting2.jpg" class="rounded ml-2 mt-2" width="48" height="48" /></td>
                                    <td><a class="">Vertex ICO</a><br><span>VTEX</span></td>
                                    <td><a class="btn btn-default">2</a></td>
                                </tbody>
                            </table>
                            <div class="my-3">
                                <a class="btn btn-primary btn-sm">Vote</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane container fade" id="tobelisted">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3 my-3">
                        <div class="card">
                            <table>
                                <tbody class="text-white">
                                    <td><img src="../../assets/img/voting1.png" class="rounded ml-2 mt-2" width="48" height="48" /></td>
                                    <td><a class="">LabelsCoin</a><br><span>LBSC</span></td>
                                    <td><a class="btn btn-default">2</a></td>
                                </tbody>
                            </table>
                            <div class="my-3">
                                <a class="btn btn-primary btn-sm">Vote</a>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-xs-12 col-sm-6 col-md-3 my-3">
                        <div class="card">
                            <table>
                                <tbody class="text-white">
                                    <td><img src="../../assets/img/voting2.jpg" class="rounded ml-2 mt-2" width="48" height="48" /></td>
                                    <td><a class="">Vertex ICO</a><br><span>VTEX</span></td>
                                    <td><a class="btn btn-default">2</a></td>
                                </tbody>
                            </table>
                            <div class="my-3">
                                <a class="btn btn-primary btn-sm">Vote</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-3 my-3">
                        <div class="card">
                            <table>
                                <tbody class="text-white">
                                    <td><img src="../../assets/img/voting1.png" class="rounded ml-2 mt-2" width="48" height="48" /></td>
                                    <td><a class="">LabelsCoin</a><br><span>LBSC</span></td>
                                    <td><a class="btn btn-default">2</a></td>
                                </tbody>
                            </table>
                            <div class="my-3">
                                <a class="btn btn-primary btn-sm">Vote</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-xs-12 col-sm-6 col-md-3 my-3">
                        <div class="card">
                            <table>
                                <tbody class="text-white">
                                    <td><img src="../../assets/img/voting2.jpg" class="rounded ml-2 mt-2" width="48" height="48" /></td>
                                    <td><a class="">Vertex ICO</a><br><span>VTEX</span></td>
                                    <td><a class="btn btn-default">2</a></td>
                                </tbody>
                            </table>
                            <div class="my-3">
                                <a class="btn btn-primary btn-sm">Vote</a>
                            </div>
                        </div> 
                    </div>                                 
                </div>
            </div>
            
            <div class="tab-pane container fade" id="listed">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3 my-3">
                        <div class="card">
                            <table>
                                <tbody class="text-white">
                                    <td><img src="../../assets/img/voting1.png" class="rounded ml-2 mt-2" width="48" height="48" /></td>
                                    <td><a class="">LabelsCoin</a><br><span>LBSC</span></td>
                                    <td><a class="btn btn-default">2</a></td>
                                </tbody>
                            </table>
                            <div class="my-3">
                                <a class="btn btn-primary btn-sm">Vote</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-xs-12 col-sm-6 col-md-3 my-3">
                        <div class="card">
                            <table>
                                <tbody class="text-white">
                                    <td><img src="../../assets/img/voting2.jpg" class="rounded ml-2 mt-2" width="48" height="48" /></td>
                                    <td><a class="">Vertex ICO</a><br><span>VTEX</span></td>
                                    <td><a class="btn btn-default">2</a></td>
                                </tbody>
                            </table>
                            <div class="my-3">
                                <a class="btn btn-primary btn-sm">Vote</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-xs-12 col-sm-6 col-md-3 my-3">
                        <div class="card">
                            <table>
                                <tbody class="text-white">
                                    <td><img src="../../assets/img/voting1.png" class="rounded ml-2 mt-2" width="48" height="48" /></td>
                                    <td><a class="">LabelsCoin</a><br><span>LBSC</span></td>
                                    <td><a class="btn btn-default">2</a></td>
                                </tbody>
                            </table>
                            <div class="my-3">
                                <a class="btn btn-primary btn-sm">Vote</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-3 my-3">
                        <div class="card ">
                            <table>
                                <tbody class="text-white">
                                    <td><img src="../../assets/img/voting2.jpg" class="rounded ml-2 mt-2" width="48" height="48" /></td>
                                    <td><a class="">Vertex ICO</a><br><span>VTEX</span></td>
                                    <td><a class="btn btn-default">2</a></td>
                                </tbody>
                            </table>
                            <div class="my-3">
                                <a class="btn btn-primary btn-sm">Vote</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</section>

<app-footer></app-footer>
