<app-header></app-header>

    <div class="container my-5">
        <div id="accordion">
            <div class="card my-2">
                <div class="card-header bg">
                    <a class="card-link text-white" data-toggle="collapse" href="#collapseOne">
                        About bitrockz.com
                    </a>
                </div>
                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                    <div class="card-body">
                        <p>bitrockz.com is a modern service for accessing e-currency and crypto currency exchange markets. Bitrockz is convenient and advantageous platform for trade, exchange or invest of various currencies, which can be used by both experienced traders as well as beginners.</p>
                    </div>
                </div>
            </div>

            <div class="card my-2">
                <div class="card-header bg">
                    <a class="collapsed card-link text-white" data-toggle="collapse" href="#collapseTwo">
                        How To Start Trading On bitrockz.com?
                    </a>
                </div>
                <div id="collapseTwo" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <P>First, you need to create an account, then add funds to your account using one of the methods of replenishment. After that you can buy or sell crypto currencies using the currency pairs. You will always find the most profitable on the market rate for the purchase or sale of foreign currency. Our service is fully automated, on your account you have all the information about all public and private transactions.</P>
                    </div>
                </div>
            </div>

            <div class="card my-2">
                <div class="card-header bg">
                    <a class="collapsed card-link text-white" data-toggle="collapse" href="#collapseThree">
                        Is bitrockz.com Safe To Use?
                    </a>
                </div>
                <div id="collapseThree" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <p>Yes it is safe! Our main goal is to keep clients personal data extremely safe and secure. We take great precautions around security systems in our system and are constantly monitoring for any activities.</p>
                    </div>
                </div>
            </div>

            <div class="card my-2">
                <div class="card-header bg">
                    <a class="collapsed card-link text-white" data-toggle="collapse" href="#collapse4">
                        Fees
                    </a>
                </div>
                <div id="collapse4" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                      <p>All trades have a 0.10% fee applied to them, making it easy to execute profitable trades.</p>
                    </div>
                </div>
            </div>

            <div class="card my-2">
                <div class="card-header bg">
                    <a class="collapsed card-link text-white" data-toggle="collapse" href="#collapse5">
                        How Do I Make A Deposit To Bitrockz?
                    </a>
                </div>
                <div id="collapse5" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <p>You can send any cryptocurrency coin listed with Bitrockz to your wallet, simply by transferring it to your Bitrockz deposit address. Follow these steps below:

                            Log in to your Bitrockz account
                                
                            Click 'E-Wallet', find proper coin and press deposit
                                
                            Please note that some coins have minimum deposit amount. You can find it at
                        </p>
                    </div>
                </div>
            </div>

            <div class="card my-2">
                <div class="card-header bg">
                    <a class="collapsed card-link text-white" data-toggle="collapse" href="#collapse6">
                            Can I Deposit Into My Bitrockz Account Using USD?
                    </a>
                </div>
                <div id="collapse6" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <p>Yes you deposit USD using USDT.</p>
                    </div>
                </div>
            </div>

            <div class="card my-2">
                <div class="card-header bg">
                    <a class="collapsed card-link text-white" data-toggle="collapse" href="#collapse7">
                            Why Hasn’t My Deposit Arrived In My Bitrockz Account?
                    </a>
                </div>
                <div id="collapse7" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <p>If you have made a deposit to an address in your Bitrockz account, and you can not see it in your wallet, there may be a number of reasons. Raise a ticket with subject “Missing Deposit” and wait for answer from support agent</p>
                    </div>
                </div>
            </div>

            <div class="card my-2">
                <div class="card-header bg">
                    <a class="collapsed card-link text-white" data-toggle="collapse" href="#collapse8">
                            My Deposit To Bitrockz Account Is Not Confirmed, Why?
                    </a>
                </div>
                <div id="collapse8" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <p>Blockchain transactions are not instant and require verification via 'Confirmations'. The Confirmations occur when transactions are confirmed to be legitimate by miners. This confirmed block will be added to the Blockchain and continues to be confirmed as new blocks are added. We are not performing these Confirmations or have any control over the time in which these Confirmations are completed. The Confirmations are completed by miners on the Blockchain. Transactions with higher fees will are far more likely to be added to a block first.</p>
                    </div>
                </div>
            </div>

            <div class="card my-2">
                <div class="card-header bg">
                    <a class="collapsed card-link text-white"data-toggle="collapse" href="#collapse9">
                            Minimum Deposit Amount
                    </a>
                </div>
                <div id="collapse9" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <p>Some currencies have a minimum amount for deposits, this amount is written as notice after you pressing deposit button.

                            In some cases if you send less that minimum amount your funds will be lost.</p>
                    </div>
                </div>
            </div>

            <div class="card my-2">
                <div class="card-header bg">
                    <a class="collapsed card-link text-white" data-toggle="collapse" href="#collapse10">
                            How Do I Make A Withdrawal?
                    </a>
                </div>
                <div id="collapse10" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                          <p> You can withdraw any cryptocurrency coin held in your Bitrockz account by using Withdrawal button. Withdrawals can be made to any relevant address such as a personal wallet or an alternative exchange service and must match the same coin you are withdrawing.

                            Once you made withdrawal you will get email confirmation to confirm withdrawal. Once you confirm withdrawal then admin has to do confirmation.
                            
                            Working Hours withdrawals will be processed in 1 hour. Off working Hours will take up to 8 hours for admin confirmations.</p>
                    </div>
                </div>
            </div>

            <div class="card my-2">
                <div class="card-header bg">
                    <a class="collapsed card-link text-white" data-toggle="collapse" href="#collapse11">
                            How Do I Confirm My Withdraw?What Countries Do You Operate In?
                    </a>
                </div>
                <div id="collapse11" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <p>If you are trying to withdraw your funds there is 2 ways to confirm your withdraw: by e-mail (you will get an e-mail with confirmation link) or by Google Authenticator</p>
                    </div>
                </div>
            </div>

            <div class="card my-2">
                <div class="card-header bg">
                    <a class="collapsed card-link text-white" data-toggle="collapse" href="#collapse12">
                            How Do I Make My Account More Secure?
                    </a>
                </div>
                <div id="collapse12" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <p>LogSet a strong Password

                            Set up a Two Factor Authentication (2FA).
                            
                            Use a Unique Email Address
                            
                            Avoid using shared or public devices and networks to access online services.
                                
                            Always log off after completing your activities.
                            
                            Never tell anyone your passwords.</p>
                    </div>
                </div>
            </div>
                                            
            <div class="card my-2">
                <div class="card-header bg">
                    <a class="collapsed card-link text-white" data-toggle="collapse" href="#collapse13">
                            What Is Two Factor Authentication (2FA)?
                    </a>
                </div>
                <div id="collapse13" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                      <p>Two Factor Authentication (2FA) is an extra layer of security designed to ensure that you are the only person who can access your account, even if someone knows your Password.</p>
                    </div>
                </div>
            </div>

            <div class="card my-2">
                <div class="card-header bg">
                    <a class="collapsed card-link text-white" data-toggle="collapse" href="#collapse14">
                            What Are The Different Types Of Two Factor Authentication?
                    </a>
                </div>
                <div id="collapse14" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <p>We strongly recommend that you enable 2FA on your account to ensure an added layer of security. Google Authenticator – Google Authenticator you can download from the Google Play and App Store. To use Google Authenticator, install it on your mobile device either from the Google Play or App Store and follow the instructions from within the app.</p>
                    </div>
                </div>
            </div>
            
            <div class="card my-2">
                <div class="card-header bg">
                    <a class="collapsed card-link text-white" data-toggle="collapse" href="#collapse15">
                            How Can I Unlock My Account?
                    </a>
                </div>
                <div id="collapse15" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <p>If you can`t access your account for any reasons such as Incorrect Google 2FA code, or something else contact us support@bitrockz.com</p>
                    </div>
                </div>
            </div>

            <div class="card my-2">
                <div class="card-header bg">
                    <a class="collapsed card-link text-white" data-toggle="collapse" href="#collapse16">
                            How Do I Close/Deactivate/Delete My Account?
                    </a>
                </div>
                <div id="collapse16" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <p>If you wish to close/deactivate your Bitrockz account, you will need to raise a support ticket and our support staff will permanently disable your account. You cannot delete your own account for security reasons.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

<app-footer></app-footer>