<app-header></app-header>

<section>
    <div class="container my-5">
        <div class="heading text-center my-3">
            <span class="my-3">Our Team</span>
            <h2>Bitrockz Expert</h2> 
            <div class="yellow-line text-center"></div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 my-3">
                <div class="card shadow ">
                    <img class="card-img-top" src="../../assets/img/team1.png" alt="Card image">
                    <div class="card-body">
                      <h4 class="card-title">John Doe</h4>
                      <p class="card-text">Some example text.</p>
                      <a href="#" class="btn text-white">See Profile</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 my-3">
                <div class="card shadow ">
                    <img class="card-img-top" src="../../assets/img/team2.png" alt="Card image">
                    <div class="card-body">
                      <h4 class="card-title">John Doe</h4>
                      <p class="card-text">Some example text.</p>
                      <a href="#" class="btn text-white">See Profile</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 my-3">
                <div class="card shadow ">
                    <img class="card-img-top" src="../../assets/img/team3.png" alt="Card image">
                    <div class="card-body">
                      <h4 class="card-title">John Doe</h4>
                      <p class="card-text">Some example text.</p>
                      <a href="#" class="btn text-white">See Profile</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 my-3">
                <div class="card shadow ">
                    <img class="card-img-top" src="../../assets/img/team3.png" alt="Card image">
                    <div class="card-body">
                      <h4 class="card-title">John Doe</h4>
                      <p class="card-text">Some example text.</p>
                      <a href="#" class="btn text-white">See Profile</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 my-3">
                <div class="card shadow ">
                    <img class="card-img-top" src="../../assets/img/team5.png" alt="Card image">
                    <div class="card-body">
                      <h4 class="card-title">John Doe</h4>
                      <p class="card-text">Some example text.</p>
                      <a href="#" class="btn text-white">See Profile</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 my-3">
                <div class="card shadow ">
                    <img class="card-img-top" src="../../assets/img/team2.png" alt="Card image">
                    <div class="card-body">
                      <h4 class="card-title">John Doe</h4>
                      <p class="card-text">Some example text.</p>
                      <a href="#" class="btn text-white">See Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>