
<app-header></app-header>

<section style="background-color:#0a2553">  
    <div class="container pb-5">
        <div>
            <div class="py-5">
                <h4 class="text-white font-weight">The Future's Bright. The Future's Blockchain.</h4>
                <h2 class="text-white font-weight">The Most Secured Platform for  Trading Cryptocurrency</h2> 
            </div>      
        </div>

        <owl-carousel [options]="{responsive: { '0': {  items: 1, margin: 20 },'480': { items: 3,  margin: 20 },'640': { items: 4, margin: 20 }},autoplay:true, dots:false, loop:true, autoplayTimeout: 3000, autoplaySpeed:1500}"  [carouselClasses]="['owl-theme' ,'sliding']" >
            <div class="item">
                <img class="card-img" src="assets/img/111.png" height="120px;" width="100%">
            </div>
            <div class="item">
                <img class="card-img" src="assets/img/222.png" height="120px;" width="100%">
            </div>
            <div class="item">
                <img class="card-img" src="assets/img/333.png" height="120px;" width="100%">
            </div>
            <div class="item">
                <img class="card-img" src="assets/img/444.png" height="120px;" width="100%">
            </div>
            <div class="item">
                <img class="card-img" src="assets/img/555.png" height="120px;" width="100%">
            </div>
            <div class="item">
                <img class="card-img" src="assets/img/111.png" height="120px;" width="100%">
            </div>
            <div class="item">
                <img class="card-img" src="assets/img/222.png" height="120px;" width="100%">
            </div>
            <div class="item">
                <img class="card-img" src="assets/img/333.png" height="120px;" width="100%">
            </div>
            <div class="item">
                <img class="card-img" src="assets/img/444.png" height="120px;" width="100%">
            </div>
            <div class="item">
                <img class="card-img" src="assets/img/555.png" height="120px;" width="100%">
            </div>
        </owl-carousel>       
    </div>
</section>

<section>
    <ul class="nav justify-content-center"  id="news">
        <li class="nav-item">
            <a class="nav-link" href="#">
                <small class="text-white"><span class="text-danger">News&nbsp;&nbsp; </span>Bitrockz : The Most Secured Platform for Trading Cryptocurrency will be Launching Soon</small>
            </a>
        </li>
    </ul>
</section>

<section>
    <div class="container my-5">
        <owl-carousel [options]="{responsive: { '0': {  items: 1, margin: 20 },'480': { items: 3,  margin: 20 },'640': { items: 4, margin: 20 }},autoplay:true, dots:false, loop:true, autoplayTimeout: 3000, autoplaySpeed:1500}"  [carouselClasses]="['owl-theme' ,'sliding']" >
            <div class="item">
               <div class="card border shadow rounded">
                    <img class="card-img-top" src="../../assets/img/chart1.png" alt="">
                    <div class="card-img-overlay">
                        <h6 class="card-title">BTC Index</h6>
                        <h3 class="card-text">$6594.01</h3>
                    </div>
               </div>
            </div>
            <div class="item">
               <div class="card border shadow rounded">
                    <img class="card-img-top" src="../../assets/img/chart1.png" alt="">
                    <div class="card-img-overlay">
                        <h6 class="card-title">BTC Index</h6>
                        <h3 class="card-text">$6594.01</h3>
                    </div>
               </div>
            </div>
            <div class="item">
               <div class="card border shadow rounded">
                    <img class="card-img-top" src="../../assets/img/chart1.png" alt="">
                    <div class="card-img-overlay">
                        <h6 class="card-title">BTC Index</h6>
                        <h3 class="card-text">$6594.01</h3>
                    </div>
               </div>
            </div>
            <div class="item">
               <div class="card border shadow rounded">
                    <img class="card-img-top" src="../../assets/img/chart1.png" alt="">
                    <div class="card-img-overlay">
                        <h6 class="card-title">BTC Index</h6>
                        <h3 class="card-text">$6594.01</h3>
                    </div>
               </div>
            </div>
        </owl-carousel>
    </div>
</section>

<section>
    <div class="container">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#btc1">BTC Market</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#eth1">ETH Market</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#usdt1">USDT Market</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#ltc1">LTC market</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#fav1">Favourites</a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="btc1" class="tab-pane active">
                <div class="table-responsive">
                    <table class="table table-bordered text-center text-secondary">
                        <thead>
                            <tr>
                                <th>Token</th>
                                <th>Last Traded Price</th>
                                <th>24hr  Change</th>
                                <th>24hr Low</th>
                                <th>24hr High</th>
                                <th>24hr Vol</th>
                                <th>Action</th>                                         
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th><i class="fa fa-star pr-2"></i>BTC/LTC</th>
                                <th>0.00000472<span>$0.04</span></th>
                                <th style="color:#4db872;"><label>+0.04%</label>+0.00000011</th>
                                <th>0.00000472</th>
                                <th>0.00000472</th>
                                <th>4,993,515 ABL</th>
                                <th><img src="../../assets/img/arrow.png" style="width: 20px;"></th>
                            </tr>
                            <tr>
                                <th><i class="fa fa-star pr-2"></i>BTC/LTC</th>
                                <th>0.00000472<span>$0.04</span></th>
                                <th style="color:#4db872;"><label>+0.04%</label>+0.00000011</th>
                                <th>0.00000472</th>
                                <th>0.00000472</th>
                                <th>4,993,515 ABL</th>
                                <th><img src="../../assets/img/arrow.png" style="width: 20px;"></th>
                            </tr> 
                            <tr>
                                <th><i class="fa fa-star pr-2"></i>BTC/LTC</th>
                                <th>0.00000472<span>$0.04</span></th>
                                <th style="color:#4db872;"><label>+0.04%</label>+0.00000011</th>
                                <th>0.00000472</th>
                                <th>0.00000472</th>
                                <th>4,993,515 ABL</th>
                                <th><img src="../../assets/img/arrow.png" style="width: 20px;"></th>
                            </tr> 
                            <tr>
                                <th><i class="fa fa-star pr-2"></i>BTC/LTC</th>
                                <th>0.00000472<span>$0.04</span></th>
                                <th style="color:#4db872;"><label>+0.04%</label>+0.00000011</th>
                                <th>0.00000472</th>
                                <th>0.00000472</th>
                                <th>4,993,515 ABL</th>
                                <th><img src="../../assets/img/arrow.png" style="width: 20px;"></th>
                            </tr>                              
                            <tr>
                                <th><i class="fa fa-star pr-2"></i>BTC/LTC</th>
                                <th>0.00000472<span>$0.04</span></th>
                                <th style="color:#4db872;"><label>+0.04%</label>+0.00000011</th>
                                <th>0.00000472</th>
                                <th>0.00000472</th>
                                <th>4,993,515 ABL</th>
                                <th><img src="../../assets/img/arrow.png" style="width: 20px;"></th>
                            </tr> 
                            <tr>
                                <th><i class="fa fa-star pr-2"></i>BTC/LTC</th>
                                <th>0.00000472<span>$0.04</span></th>
                                <th style="color:#4db872;"><label>+0.04%</label>+0.00000011</th>
                                <th>0.00000472</th>
                                <th>0.00000472</th>
                                <th>4,993,515 ABL</th>
                                <th><img src="../../assets/img/arrow.png" style="width: 20px;"></th>
                            </tr> 
                            <tr>
                                <th><i class="fa fa-star pr-2"></i>BTC/LTC</th>
                                <th>0.00000472<span>$0.04</span></th>
                                <th style="color:#4db872;"><label>+0.04%</label>+0.00000011</th>
                                <th>0.00000472</th>
                                <th>0.00000472</th>
                                <th>4,993,515 ABL</th>
                                <th><img src="../../assets/img/arrow.png" style="width: 20px;"></th>
                            </tr> 
                            <tr>
                                <th><i class="fa fa-star pr-2"></i>BTC/LTC</th>
                                <th>0.00000472<span>$0.04</span></th>
                                <th style="color:#4db872;"><label>+0.04%</label>+0.00000011</th>
                                <th>0.00000472</th>
                                <th>0.00000472</th>
                                <th>4,993,515 ABL</th>
                                <th><img src="../../assets/img/arrow.png" style="width: 20px;"></th>
                            </tr> 
                            <tr>
                                <th><i class="fa fa-star pr-2"></i>BTC/LTC</th>
                                <th>0.00000472<span>$0.04</span></th>
                                <th style="color:#4db872;"><label>+0.04%</label>+0.00000011</th>
                                <th>0.00000472</th>
                                <th>0.00000472</th>
                                <th>4,993,515 ABL</th>
                                <th><img src="../../assets/img/arrow.png" style="width: 20px;"></th>
                            </tr> 
                            <tr>
                                <th><i class="fa fa-star pr-2"></i>BTC/LTC</th>
                                <th>0.00000472<span>$0.04</span></th>
                                <th style="color:#4db872;"><label>+0.04%</label>+0.00000011</th>
                                <th>0.00000472</th>
                                <th>0.00000472</th>
                                <th>4,993,515 ABL</th>
                                <th><img src="../../assets/img/arrow.png" style="width: 20px;"></th>
                            </tr> 
                        </tbody>        
                    </table>
                </div>      
            </div>              
                            
            <div id="eth1" class="tab-pane fade">
                <div class="table-responsive">
                    <table class="table table-bordered text-center text-secondary">
                        <thead>
                            <tr>
                                <th>Token</th>
                                <th>Last Traded Price</th>
                                <th>24hr  Change</th>
                                <th>24hr Low</th>
                                <th>24hr High</th>
                                <th>24hr Vol</th>
                                <th>Action</th>                                         
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th><i class="fa fa-star pr-2"></i>BTC/LTC</th>
                                <th>0.00000472<span>$0.04</span></th>
                                <th style="color:#4db872;"><label>+0.04%</label>+0.00000011</th>
                                <th>0.00000472</th>
                                <th>0.00000472</th>
                                <th>4,993,515 ABL</th>
                                <th><img src="../../assets/img/arrow.png" style="width: 20px;"></th>
                            </tr>
                            <tr>
                                <th><i class="fa fa-star pr-2"></i>BTC/LTC</th>
                                <th>0.00000472<span>$0.04</span></th>
                                <th style="color:#4db872;"><label>+0.04%</label>+0.00000011</th>
                                <th>0.00000472</th>
                                <th>0.00000472</th>
                                <th>4,993,515 ABL</th>
                                <th><img src="../../assets/img/arrow.png" style="width: 20px;"></th>
                            </tr> 
                            <tr>
                                <th><i class="fa fa-star pr-2"></i>BTC/LTC</th>
                                <th>0.00000472<span>$0.04</span></th>
                                <th style="color:#4db872;"><label>+0.04%</label>+0.00000011</th>
                                <th>0.00000472</th>
                                <th>0.00000472</th>
                                <th>4,993,515 ABL</th>
                                <th><img src="../../assets/img/arrow.png" style="width: 20px;"></th>
                            </tr> 
                            <tr>
                                <th><i class="fa fa-star pr-2"></i>BTC/LTC</th>
                                <th>0.00000472<span>$0.04</span></th>
                                <th style="color:#4db872;"><label>+0.04%</label>+0.00000011</th>
                                <th>0.00000472</th>
                                <th>0.00000472</th>
                                <th>4,993,515 ABL</th>
                                <th><img src="../../assets/img/arrow.png" style="width: 20px;"></th>
                            </tr>                              
                            <tr>
                                <th><i class="fa fa-star pr-2"></i>BTC/LTC</th>
                                <th>0.00000472<span>$0.04</span></th>
                                <th style="color:#4db872;"><label>+0.04%</label>+0.00000011</th>
                                <th>0.00000472</th>
                                <th>0.00000472</th>
                                <th>4,993,515 ABL</th>
                                <th><img src="../../assets/img/arrow.png" style="width: 20px;"></th>
                            </tr> 
                            <tr>
                                <th><i class="fa fa-star pr-2"></i>BTC/LTC</th>
                                <th>0.00000472<span>$0.04</span></th>
                                <th style="color:#4db872;"><label>+0.04%</label>+0.00000011</th>
                                <th>0.00000472</th>
                                <th>0.00000472</th>
                                <th>4,993,515 ABL</th>
                                <th><img src="../../assets/img/arrow.png" style="width: 20px;"></th>
                            </tr> 
                            <tr>
                                <th><i class="fa fa-star pr-2"></i>BTC/LTC</th>
                                <th>0.00000472<span>$0.04</span></th>
                                <th style="color:#4db872;"><label>+0.04%</label>+0.00000011</th>
                                <th>0.00000472</th>
                                <th>0.00000472</th>
                                <th>4,993,515 ABL</th>
                                <th><img src="../../assets/img/arrow.png" style="width: 20px;"></th>
                            </tr> 
                            <tr>
                                <th><i class="fa fa-star pr-2"></i>BTC/LTC</th>
                                <th>0.00000472<span>$0.04</span></th>
                                <th style="color:#4db872;"><label>+0.04%</label>+0.00000011</th>
                                <th>0.00000472</th>
                                <th>0.00000472</th>
                                <th>4,993,515 ABL</th>
                                <th><img src="../../assets/img/arrow.png" style="width: 20px;"></th>
                            </tr> 
                            <tr>
                                <th><i class="fa fa-star pr-2"></i>BTC/LTC</th>
                                <th>0.00000472<span>$0.04</span></th>
                                <th style="color:#4db872;"><label>+0.04%</label>+0.00000011</th>
                                <th>0.00000472</th>
                                <th>0.00000472</th>
                                <th>4,993,515 ABL</th>
                                <th><img src="../../assets/img/arrow.png" style="width: 20px;"></th>
                            </tr> 
                            <tr>
                                <th><i class="fa fa-star pr-2"></i>BTC/LTC</th>
                                <th>0.00000472<span>$0.04</span></th>
                                <th style="color:#4db872;"><label>+0.04%</label>+0.00000011</th>
                                <th>0.00000472</th>
                                <th>0.00000472</th>
                                <th>4,993,515 ABL</th>
                                <th><img src="../../assets/img/arrow.png" style="width: 20px;"></th>
                            </tr> 
                        </tbody>        
                    </table>   
                </div>                  
            </div>

            <div id="usdt1" class="tab-pane fade">
                <div class="table-responsive">
                    <table class="table table-bordered text-center text-secondary">
                        <thead>
                            <tr>
                                <th>Token</th>
                                <th>Last Traded Price</th>
                                <th>24hr  Change</th>
                                <th>24hr Low</th>
                                <th>24hr High</th>
                                <th>24hr Vol</th>
                                <th>Action</th>                                         
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th><i class="fa fa-star pr-2"></i>BTC/LTC</th>
                                <th>0.00000472<span>$0.04</span></th>
                                <th style="color:#4db872;"><label>+0.04%</label>+0.00000011</th>
                                <th>0.00000472</th>
                                <th>0.00000472</th>
                                <th>4,993,515 ABL</th>
                                <th><img src="../../assets/img/arrow.png" style="width: 20px;"></th>
                            </tr>
                            <tr>
                                <th><i class="fa fa-star pr-2"></i>BTC/LTC</th>
                                <th>0.00000472<span>$0.04</span></th>
                                <th style="color:#4db872;"><label>+0.04%</label>+0.00000011</th>
                                <th>0.00000472</th>
                                <th>0.00000472</th>
                                <th>4,993,515 ABL</th>
                                <th><img src="../../assets/img/arrow.png" style="width: 20px;"></th>
                            </tr> 
                            <tr>
                                <th><i class="fa fa-star pr-2"></i>BTC/LTC</th>
                                <th>0.00000472<span>$0.04</span></th>
                                <th style="color:#4db872;"><label>+0.04%</label>+0.00000011</th>
                                <th>0.00000472</th>
                                <th>0.00000472</th>
                                <th>4,993,515 ABL</th>
                                <th><img src="../../assets/img/arrow.png" style="width: 20px;"></th>
                            </tr> 
                            <tr>
                                <th><i class="fa fa-star pr-2"></i>BTC/LTC</th>
                                <th>0.00000472<span>$0.04</span></th>
                                <th style="color:#4db872;"><label>+0.04%</label>+0.00000011</th>
                                <th>0.00000472</th>
                                <th>0.00000472</th>
                                <th>4,993,515 ABL</th>
                                <th><img src="../../assets/img/arrow.png" style="width: 20px;"></th>
                            </tr>                              
                            <tr>
                                <th><i class="fa fa-star pr-2"></i>BTC/LTC</th>
                                <th>0.00000472<span>$0.04</span></th>
                                <th style="color:#4db872;"><label>+0.04%</label>+0.00000011</th>
                                <th>0.00000472</th>
                                <th>0.00000472</th>
                                <th>4,993,515 ABL</th>
                                <th><img src="../../assets/img/arrow.png" style="width: 20px;"></th>
                            </tr> 
                            <tr>
                                <th><i class="fa fa-star pr-2"></i>BTC/LTC</th>
                                <th>0.00000472<span>$0.04</span></th>
                                <th style="color:#4db872;"><label>+0.04%</label>+0.00000011</th>
                                <th>0.00000472</th>
                                <th>0.00000472</th>
                                <th>4,993,515 ABL</th>
                                <th><img src="../../assets/img/arrow.png" style="width: 20px;"></th>
                            </tr> 
                            <tr>
                                <th><i class="fa fa-star pr-2"></i>BTC/LTC</th>
                                <th>0.00000472<span>$0.04</span></th>
                                <th style="color:#4db872;"><label>+0.04%</label>+0.00000011</th>
                                <th>0.00000472</th>
                                <th>0.00000472</th>
                                <th>4,993,515 ABL</th>
                                <th><img src="../../assets/img/arrow.png" style="width: 20px;"></th>
                            </tr> 
                            <tr>
                                <th><i class="fa fa-star pr-2"></i>BTC/LTC</th>
                                <th>0.00000472<span>$0.04</span></th>
                                <th style="color:#4db872;"><label>+0.04%</label>+0.00000011</th>
                                <th>0.00000472</th>
                                <th>0.00000472</th>
                                <th>4,993,515 ABL</th>
                                <th><img src="../../assets/img/arrow.png" style="width: 20px;"></th>
                            </tr> 
                            <tr>
                                <th><i class="fa fa-star pr-2"></i>BTC/LTC</th>
                                <th>0.00000472<span>$0.04</span></th>
                                <th style="color:#4db872;"><label>+0.04%</label>+0.00000011</th>
                                <th>0.00000472</th>
                                <th>0.00000472</th>
                                <th>4,993,515 ABL</th>
                                <th><img src="../../assets/img/arrow.png" style="width: 20px;"></th>
                            </tr> 
                            <tr>
                                <th><i class="fa fa-star pr-2"></i>BTC/LTC</th>
                                <th>0.00000472<span>$0.04</span></th>
                                <th style="color:#4db872;"><label>+0.04%</label>+0.00000011</th>
                                <th>0.00000472</th>
                                <th>0.00000472</th>
                                <th>4,993,515 ABL</th>
                                <th><img src="../../assets/img/arrow.png" style="width: 20px;"></th>
                            </tr> 
                        </tbody> 
                    </table>  
                </div>                
            </div> 
                      
            <div id="ltc1" class="tab-pane fade"> 
                <div class="table-responsive">  
                    <table class="table table-bordered text-center text-secondary">
                        <thead>
                            <tr>
                                <th>Token</th>
                                <th>Last Traded Price</th>
                                <th>24hr  Change</th>
                                <th>24hr Low</th>
                                <th>24hr High</th>
                                <th>24hr Vol</th>
                                <th>Action</th>                                         
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th><i class="fa fa-star pr-2"></i>BTC/LTC</th>
                                <th>0.00000472<span>$0.04</span></th>
                                <th style="color:#4db872;"><label>+0.04%</label>+0.00000011</th>
                                <th>0.00000472</th>
                                <th>0.00000472</th>
                                <th>4,993,515 ABL</th>
                                <th><img src="../../assets/img/arrow.png" style="width: 20px;"></th>
                            </tr>
                            <tr>
                                <th><i class="fa fa-star pr-2"></i>BTC/LTC</th>
                                <th>0.00000472<span>$0.04</span></th>
                                <th style="color:#4db872;"><label>+0.04%</label>+0.00000011</th>
                                <th>0.00000472</th>
                                <th>0.00000472</th>
                                <th>4,993,515 ABL</th>
                                <th><img src="../../assets/img/arrow.png" style="width: 20px;"></th>
                            </tr> 
                            <tr>
                                <th><i class="fa fa-star pr-2"></i>BTC/LTC</th>
                                <th>0.00000472<span>$0.04</span></th>
                                <th style="color:#4db872;"><label>+0.04%</label>+0.00000011</th>
                                <th>0.00000472</th>
                                <th>0.00000472</th>
                                <th>4,993,515 ABL</th>
                                <th><img src="../../assets/img/arrow.png" style="width: 20px;"></th>
                            </tr> 
                            <tr>
                                <th><i class="fa fa-star pr-2"></i>BTC/LTC</th>
                                <th>0.00000472<span>$0.04</span></th>
                                <th style="color:#4db872;"><label>+0.04%</label>+0.00000011</th>
                                <th>0.00000472</th>
                                <th>0.00000472</th>
                                <th>4,993,515 ABL</th>
                                <th><img src="../../assets/img/arrow.png" style="width: 20px;"></th>
                            </tr>                              
                            <tr>
                                <th><i class="fa fa-star pr-2"></i>BTC/LTC</th>
                                <th>0.00000472<span>$0.04</span></th>
                                <th style="color:#4db872;"><label>+0.04%</label>+0.00000011</th>
                                <th>0.00000472</th>
                                <th>0.00000472</th>
                                <th>4,993,515 ABL</th>
                                <th><img src="../../assets/img/arrow.png" style="width: 20px;"></th>
                            </tr> 
                            <tr>
                                <th><i class="fa fa-star pr-2"></i>BTC/LTC</th>
                                <th>0.00000472<span>$0.04</span></th>
                                <th style="color:#4db872;"><label>+0.04%</label>+0.00000011</th>
                                <th>0.00000472</th>
                                <th>0.00000472</th>
                                <th>4,993,515 ABL</th>
                                <th><img src="../../assets/img/arrow.png" style="width: 20px;"></th>
                            </tr> 
                            <tr>
                                <th><i class="fa fa-star pr-2"></i>BTC/LTC</th>
                                <th>0.00000472<span>$0.04</span></th>
                                <th style="color:#4db872;"><label>+0.04%</label>+0.00000011</th>
                                <th>0.00000472</th>
                                <th>0.00000472</th>
                                <th>4,993,515 ABL</th>
                                <th><img src="../../assets/img/arrow.png" style="width: 20px;"></th>
                            </tr> 
                            <tr>
                                <th><i class="fa fa-star pr-2"></i>BTC/LTC</th>
                                <th>0.00000472<span>$0.04</span></th>
                                <th style="color:#4db872;"><label>+0.04%</label>+0.00000011</th>
                                <th>0.00000472</th>
                                <th>0.00000472</th>
                                <th>4,993,515 ABL</th>
                                <th><img src="../../assets/img/arrow.png" style="width: 20px;"></th>
                            </tr> 
                            <tr>
                                <th><i class="fa fa-star pr-2"></i>BTC/LTC</th>
                                <th>0.00000472<span>$0.04</span></th>
                                <th style="color:#4db872;"><label>+0.04%</label>+0.00000011</th>
                                <th>0.00000472</th>
                                <th>0.00000472</th>
                                <th>4,993,515 ABL</th>
                                <th><img src="../../assets/img/arrow.png" style="width: 20px;"></th>
                            </tr> 
                            <tr>
                                <th><i class="fa fa-star pr-2"></i>BTC/LTC</th>
                                <th>0.00000472<span>$0.04</span></th>
                                <th style="color:#4db872;"><label>+0.04%</label>+0.00000011</th>
                                <th>0.00000472</th>
                                <th>0.00000472</th>
                                <th>4,993,515 ABL</th>
                                <th><img src="../../assets/img/arrow.png" style="width: 20px;"></th>
                            </tr> 
                        </tbody>           
                    </table>   
                </div>                            
            </div>
                                        
            <div id="fav1" class="tab-pane fade">
                <div class="table-responsive">
                    <table class="table table-bordered text-center text-secondary">
                        <thead>
                            <tr>
                                <th>Token</th>
                                <th>Last Traded Price</th>
                                <th>24hr  Change</th>
                                <th>24hr Low</th>
                                <th>24hr High</th>
                                <th>24hr Vol</th>
                                <th>Action</th>                   
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th>You have no favourites</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </tbody>        
                    </table>      
                </div>
            </div> 
        </div>         
    </div>
</section>
               
<section>
    <div class="container-fluid bgimg">       
        <div class="text-center text-white">
            <h2>User Friendly  Trading Platform</h2>
            <div class="content">
                Bitrockz offers an user friendly interface with realtime orderbooks,<br>
                charting tools, trade history, and a simple order process so you<br>
                can trade from day one.
            </div>
        </div>
    </div>
</section>

<section>   
    <div class="container-fluid mx-auto my-5" id="features">
        <div class="row justify-content-center">
            <div class="col-xs-12 col-sm-4 col-md-2 text-center my-3">
                <img src="../../assets/img/1.png" height="80px" width="80px" alt=""><br>
                <h5 class="my-3">Industry Leading API</h5>
                <small>A trusted platform with intuitive user interface allowing professionals to trade tokens with fiat currency conveniently</small>
             </div>
            <div class="col-xs-12 col-sm-4 col-md-2 text-center my-3">
                <img src="../../assets/img/2.png" height="80px" width="80px" alt=""><br>
                <h5 class="my-3">Robust Security</h5>
                <small>Trade over a hundred types of tokens including Bitcoin, Ethereum &amp; Litecoin with leverage options.</small>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-2 text-center my-3">
                <img src="../../assets/img/3.png" height="80px" width="80px" alt=""><br>
                <h5 class="my-3">Multiple Coins & Trading Pairs</h5>
                <small>Stabilize income earned through futures trading</small>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-2 text-center my-3">
                <img src="../../assets/img/4.png" height="80px" width="80px" alt=""><br>
                <h5 class="my-3">Professional Team</h5>
                <small>A portfolio of tokens in one transaction. Achieve long term returns through low volatility index</small>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-2 text-center my-3">
                <img src="../../assets/img/5.png" height="80px" width="80px" alt=""><br>
                <h5 class="my-3">24/7 Support</h5>
                <small>Fully-integrated services for blockchain entrepreneurial teams and projects</small>
            </div>
        </div>
    </div>
</section>
          
<app-footer></app-footer>
                  

 
    